.App {
  font-family: sans-serif;
  display: grid;
  place-content: center;
}

.content {
  margin: 60% auto;
}

.button-container {
}

.my-button {
  padding: 10% 5%;
  margin: 8px 0;
  text-align: center;
  background-color: transparent;
  border: 1px solid transparent;
  outline: none;
  border-radius: 10px;
  color: transparent;
  text-transform: uppercase;
  transition: transform 80ms ease-in;
  color: white;
  font-size: 20px;
  width: 100%;
}

.clear {
  background: #e53935; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #e35d5b,
    #e53935
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #e35d5b,
    #e53935
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.show {
  background-image: linear-gradient(135deg, #70f570 10%, #49c628 100%);
}

.storage-item {
  margin: 0 0 10px 0;
}

.storage-length {
  text-align: center;
}

@media only screen and (max-width: 600px) {
  .App {
    width: 100%;
  }
}
